* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
.main{
    border:2px solid black;
    height: 500px;
    width: 400px;
    margin-left: 70px;
}
.heading{
    height: 100px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.user{
    display: flex;
    margin: px;
}
.navigation .inn{
    width: 30px;
    padding-top: 10px;
    margin-right:90px ;
}
.thick .blue{
    width: 30px;
}
.manu .inmanu{
    transform: rotate(90deg);
    width:50px;
}